<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opensource.seebus">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/seebus_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/seebus_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeeBus"
        android:usesCleartextTraffic="true">
        <service
            android:name=".subService.LocationService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".help.HelpActivity"
            android:exported="false"
            android:label="도움말"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".history.FavoriteActivity"
            android:exported="true"
            android:label="즐겨찾기"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subService.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sendGpsInfo.SendGpsInfoActivity"
            android:exported="true"
            android:label="경로 안내"
            android:screenOrientation="portrait" />
        <activity
            android:name=".history.HistoryActivity"
            android:exported="true"
            android:label="최근 기록"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startingPoint.StartingPointActivity"
            android:exported="false"
            android:label="출발 정류장 선택"
            android:screenOrientation="portrait" />
        <activity
            android:name=".selectBus.SelectBusActivity"
            android:exported="false"
            android:label="탑승할 버스 선택"
            android:screenOrientation="portrait" />
        <activity
            android:name=".busRoute.BusRouteActivity"
            android:exported="false"
            android:label="도착 정류장 선택"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>